* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  .clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    }
  .header {
    width: 100%; 
    height: 80px; 
    background-color: white; 
    position: fixed;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05); 
  }
  .header__figure{
    width:9.375%;
    height:46px;
    margin-left:8.75%;
    margin-top:17px;
    float:left;
  }
  .header__subtitle{
    float:left;
    width:21.5%;
    height: 41px;
    margin-top:20px;
    margin-left:60px;
  }
  .header__text{
    font-family:'源ノ角ゴシックJP';
    font-size:14px;
    font-weight: normal;
  }
  .header__button--pc{
    margin-top:13px;
    background-color:#0D67FF;
    height:56px; 
    width:26%;
    margin-left:25%;
    border-radius:5px;
    line-height:56px;
    text-align: center;
    float:left;
  }
  .header__link--pc {
    font-family:'源ノ角ゴシック';
    font-size:16px;
    vertical-align: middle; 
    font-weight: bold;
    color:white;
  }
  .header__button--sp{
    display:none;
  }
  
  .main1{
    width: 100%;;
    height: 800px;
    background-image:url(img/bg_wave1.png);
    background-repeat: no-repeat;
    background-size:112%;
    background-position: center;
    overflow: hidden;
  }
  .main1__left{
    width:39.6%;
    height:423px;
    margin-left:8.75%;
    margin-top:251px;
    float: left;
  }
  .main1__title--pc{
    font-family:'源ノ角ゴシック';
    font-size:40px;
    color:#4B4B4B;
    font-weight: bold;
  }
  .main1__title--sp{
    display:none;
  }
  .main1__body--pc{
    width:356px;
    height: 85px;
    margin-top:32px;
  }
  .main1__subtitle--pc{
    font-family:'源ノ角ゴシック';
    font-size:28px;
    color:#4B4B4B;
    font-weight: bold;
  }
  .main1__body--sp{
    display:none;
  }
  .main1__square1{
    margin-left:10px;
    width:6px;
    height: 6px;
    background-color:#F6404F;
    float:left;
  }
  .main1__square{
    margin-left:22px;
    width:6px;
    height: 6px;
    background-color:#F6404F;
    float:left;
  }
  .main1__button{
    margin-top:77px;
    background-color:#0D67FF;
    height:56px; 
    width:334px;
    border-radius:5px;
    line-height:56px;
    text-align: center;
  }
  .main1__link {
    font-family:'源ノ角ゴシック';
    font-size:16px;
    vertical-align: middle; 
    font-weight: bold;
    color:white;
  }
  .main1__right--pc{
    height:601px;
    width:46.8%;
    margin-top:91px;
    float: left;
  }
  .main1__right--sp{
    display: none;
  }
  .main1__image--pc{
    width:96%;
    height:100%;
  }
  .main-visual2{
    width: 100%;;
    height: 743px;
    overflow: hidden;
  }
  .container{
      display: flex;
      justify-content: center;
      
  }
  .main2-top{
    width: 590px;
    height: 109px;
    margin-top:78px;    
    margin-right: auto;
    margin-left:auto;
  }
  .dig{
      width:7.11%;
      height: 109px;
      background: linear-gradient(75deg, white, white 45.5%, #F6404F 45.5%,#F6404F 50.5%, white 50.5%, white);
      float:left;
  }
  .main2-top-text{
    text-align: center;
    color:#4B4B4B;
  }
  .main2-top-text h1{
    width:84%;
    height: 109px;
    font-family:'源ノ角ゴシック';
    font-size:36px;
    font-weight: bold;
    float: left;
  }
  .dig2{
    width:7.11%;
    height: 109px;
    background: linear-gradient(105deg, white, white 45.5%, #F6404F 45.5%,#F6404F 50.5%, white 50.5%, white);
    float:left;
  }
  .main2-box{
      width:322px;
      height: 410px;
      margin-top:67px;
     margin-right:50px;
  }
  
  .main2-box-title{
    text-align: center;
    color:#4B4B4B;
  }
  .main2-box-title h3{
    font-family:'源ノ角ゴシック';
    font-size:20px;
    font-weight: bold;
    
  }
  .main2-box-img{
    width:176px;
    margin-top:50px;
    margin-left:30px;
  }
  .main2-box-text{
    margin-top:18px;
    font-family:'源ノ角ゴシック';
    font-size:14px;
    font-weight: normal;
    color:#4B4B4B;
  }
  .main2-box2{
    width:322px;
    height: 410px;
    margin-top:67px;
  }
.main2-box3{
    width:322px;
    height: 410px;
    margin-top:67px;
    margin-left:50px;
}
  .main-visual3{
    width: 100%;;
    height: 740px;
    background-image:url(img/bg_wave2.png);
    background-repeat: no-repeat;
    background-size:112%;
    background-position: center;
    overflow: hidden;
  }
  .main3-top{
    width:548px;
    height: 106px;
    margin-right: auto;
    margin-left:auto;
    margin-top:143px;
    text-align: center;
  }
  .main3-top h1{
    font-family:'源ノ角ゴシック';
    font-size:35px;
    font-weight: bold;
    color:#4B4B4B;
  }
  .main3-title-img{
    width:48px;
    height:48px;
    margin-top:17px;
    float: left;
  }
  .main3-title-text{
    width:336px;
    height: 71px;
    margin-left:10px;
    margin-top:8px;
    font-family:'源ノ角ゴシック';
    float: left;
    font-size:24px;
    font-weight: bold;
    color:#4B4B4B;

  }
  .main3-title1{
    margin-top:39px;
    margin-left:14.2%;
    width:394px;
    height: 71px;
  }
  .main3-title2{
    margin:0 auto;
    width:394px;
    height:71px;
    margin-top:40px;

  }
  .main3-title3{
    width:394px;
    height:71px;
    margin-left:58%;
    margin-top:40px;
  }
  .main-visual4{
    width: 100%;;
    height: 740px;
    overflow: hidden;
  }
  .angular{
    width:74px;
    height: 100px;
    margin-left:auto;
    margin-right: auto;
    margin-top:40px;
  }
  .triangle1{
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    border-top: 37px solid #0D67FF;
    margin:0 auto;
  }
  .triangle2{
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    border-top: 37px solid #0D67FF;
    margin-left:auto;
    margin-right: auto;
    margin-top:34px;
  }
  .triangle-sp{
    display:none;
  }
  .main4-title{
    margin-top:40px;
    width:207px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .main4-title h3{
    font-family:'源ノ角ゴシック';
    font-size:28px;
    font-weight: bold;
    color:#4B4B4B;
  }
  .main4-left{
    width:37.5%;
    height:416px;
    margin-top:48px;
    margin-left: 8.4%;
    float: left;
  }
  .main4-title2{
    width:480px;
    height: 142px;
  }
  .main4-title2 h1{
    font-family:'源ノ角ゴシック';
    font-size:48px;
    font-weight: bold;
    color:#0D67FF;
    text-shadow: 1px 2px 7px #aaaaaa;
  }
  .main4-content{
    width:434px;
    height: 142px;
    margin-top:40px;
  }
  .main4-content p{
    font-family:'源ノ角ゴシックJP';
    font-size:20px;
    font-weight: normal;
  }
  .main4-button{
    margin-top:38px;
    background-color:#0D67FF;
    height:56px; 
    width:334px;
    border-radius:5px;
    line-height:56px;
    text-align: center;
  }
  .main4-button a {
    font-family:'源ノ角ゴシック';
    font-size:16px;
    vertical-align: middle; 
    font-weight: bold;
    color:white;
  }
  .main4-right{
    width:42%;
    height:416px;
    margin-top:48px;
    margin-left: 5.3%;
    float: left;
  }
  .main4-right img{
    width:100%;
    height:416px;
  }
  .main-visual5{
    width: 100%;
    height: 802px;
    overflow: hidden;
    
    
  }
  .main5-title{
    margin-top:65px;
    width:468px;
    height: 109px;
    margin-right: auto;
    margin-left:auto;
  }
  .main5-top-text{
    text-align: center;
    color:#4B4B4B;
  }
  .main5-top-text h1{
    width:382px;
    height: 109px;
    font-family:'源ノ角ゴシック';
    font-size:36px;
    font-weight: bold;
    float: left;
  }
 
  .main5-container{
    display: flex;
    justify-content: center;
    margin-top:65px;
  }
  .main5-box-number{
    width:42px;
    height:52px;
    margin-left:auto;
    margin-right: auto;
    margin-top:12px;
    
  }
  .main5-box-number h3{
    font-family:'源ノ角ゴシック';
    font-size:36px;
    font-weight: bold;
    color:#0D67FF;
  }
  .red-line2{
    height:4px;
    width:24px;
    margin-left:45.5%;
    background-color: red;
    border-radius:20%;
  }
  .main5-subtitle{
    text-align: center;
    margin-top:17px;
    width:99.3%;
    height: 53px;
  }
  .main5-subtitle p{
    font-family: Helevetica Nune;
    font-size: 16px;
    font-weight: bold;
  }
  .main5-box-img{
    width: 275px;
    height:160px;
    margin-top:20px;
    margin-left:auto;
    margin-right: auto

  }
  .main5-box-img img{
    margin-left: 60px;
    margin-top:16px;
  }
  .main5-box{
    width:25.3%;
    height: 405px;
    margin-right:35px;
  }
  .main5-box2{
    width:25.3%;
    height: 405px;
  }
  .main5-box3{
    width:25.3%;
    height: 405px;
    margin-left:35px;
  }
  .button{
    margin-top:50px;
    width:334px;
    height:56px;
    margin-right: auto;
    margin-left:auto;
   
  }
  .main-visual6{
    width: 100%;;
    height: 680px;
    background-image:url(img/ellipse.png);
    background-size:cover;
    background-position: 30% 0%;
    overflow:hidden;
  }
  .main6-title{
    margin-top:144px;
    width: 496px;
    height: 112px;
    margin-right: auto;
    margin-left:auto;
    text-align:center;
  }
  .main6-title h1{
    font-family:'源ノ角ゴシック';
    font-size:36px;
    font-weight: bold;
    color:#4B4B4B;
  }
  .red-line{
    height:4px;
    width:74px;
    margin-right: auto;
    margin-left:auto;
    margin-top: 44px;
    background-color: red;
    border-radius:20%;
  }
  .main6-subtitle{
    font-family:'源ノ角ゴシック';
    font-size:16px;
    font-weight: normal;
    color:#4B4B4B;
  }
  .main6-number{
    width:37.2%;
    height: 116px;
    margin-left:28px;
    float: left;
  }
  .main6-img{
    width:17.46%;
    height:100%;
    margin-left:2%;
    float: left;
  }
  .main6-img img{
    margin-top:30px;
  }
  .main6-img p{
    font-family:'源ノ角ゴシック';
    font-size:18px;
    font-weight: normal;
    color:#4B4B4B;
    margin-top:22px;
  }
  .main6-container{
    display: flex;
    justify-content: center;
    margin-top:72px;
  }
  .main6-box{
    width:15.8%;
    height:142px;
    margin-left:12.7%;
    margin-right: 43px;
  }
  .main6-subtitle2{
    width:108px;
    height: 26px;
    margin-left:30.6%;
  }
  .main6-subtitle2 p{
    font-family:'源ノ角ゴシック';
    font-size:18px;
    font-weight: normal;
    color:#4B4B4B;
  }
  .main6-box2{
    width:34.84%;
    height:142px;
  }
  .main6-img2{
    background-image:url(img/bg_people.png);
    background-position: center;
    width:100%;
    height:100px;
    margin-top:14px;
    background-repeat: no-repeat;
  }
  .main6-number2{
    width:141px;
    height:120px;
    margin-left:27.6%;
    float: left;
  }
  .main6-number2 img{
    width:141px;
    height:120px;
    display: block;
  }
  .yen p{
    float: left;
    margin-top:75px;
    font-size:18px;
    font-weight: normal;
    color:#4B4B4B;
  }
  .main6-subtitle3{
    margin-left:80px;
  }
  .main6-subtitle3 p{
    font-family:'源ノ角ゴシック';
    font-size:18px;
    font-weight: normal;
    color:#4B4B4B;
  }
  .main6-box3{
    width:289px;
    height:143px;
    margin-left:39px;
  }
  .main6-number3{
    margin-left: 60px;
    margin-top:10px;
  }
  .main6-number3 img{
    width:141px;
    height:120px;
    display: block;
    float:left;
  }
  .ken{
    float: left;
    margin-top:75px;
    font-size:18px;
    font-weight: normal;
    color:#4B4B4B;
  }
  .main6-img3{
    background-image:url(img/comment.png);
    background-repeat: repeat-x;
    background-position: 0% 100%;
    width:225px;
    height:100px;
    margin-top:14px;
  }

  footer{
      height:300px;
      width: 100%;;
      background-color: white;
      overflow: hidden;
      
  }
  .footer-title p{
    font-family:'源ノ角ゴシック';
    font-size:14px;
    font-weight: normal;
    color:#4B4B4B;
  }
  .company{
    margin-left:31px;
    margin-top:60px;
  }
  .company p{
    font-family:'源ノ角ゴシック';
    font-size:14px;
    font-weight: normal;
    color:#4B4B4B;
  }
  
  .footer-content{
    width:518px;
    height: 155px;
    position: relative;
    margin-top:74px;
    margin-left:42.3%;
  }
  .icon{
    margin-top:6px;
    margin-left:31px;
  }
  .footer-content2{
    top:134px;
    left:356px;
    position: absolute;
    width:161px;
    height: 20px;
  }
  .arrow01 {
    display: block;
    width: 10px;
    margin-top:7px;
    height: 10px;
    border-top: solid 2px #697b91;
    border-right: solid 2px #697b91;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    float: left;
  }
  .footer-link{
    float: left;
    margin-left:9px;
    margin-top:2px;
  }
  .footer-link a{
    font-family:'源ノ角ゴシック';
    font-size:14px;
    font-weight: normal;
    color:#4B4B4B;
  }
  .arrow02 {
    display: block;
    width: 10px;
    margin-top:7px;
    height: 10px;
    margin-left:8px;
    border-top: solid 2px #697b91;
    border-right: solid 2px #697b91;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    float: left;
  }
  
  .circle1{
    margin-left:19px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:#F6404F;
    float:left;
  }
  .circle{
    margin-left:39px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:#F6404F;
    float:left;
  }
  .tv-img-sp{
    display:none;
   
  }
  /*1246*/
  
  /* スマートフォンサイズ（425px）以下の際に適用される設定 */
  @media screen and (max-width:769px) {
    .header{
      z-index: 1;
    }
    .header-text{
      display:none;
    }
    .header-button-pc{
      display: none;
    }
    .logo-top{
      width:32%;
    }
    .header-button-sp{
      margin-left:15.2%;
      margin-top:15px;
      background-color:#0D67FF;
      height:48px;; 
      width:42%;
      border-radius:5px;
      line-height:48px;
      text-align: center;
      float:left;
      display: block;
    }
    .header-button-sp a {
      font-family:'源ノ角ゴシック';
      font-size:16px;
      vertical-align: middle; 
      font-weight: bold;
      color:white;
    }
    .main-visual{
      background-image:url(img/sp-wave1.png);
      background-repeat: no-repeat;
      background-position: right 75% top 70%;
      background-size:120% 550px;
      height:667px;
     
    }
    .main-visual-content{
      width:373px;
      margin-right:auto;
      margin-left:auto;
      position:relative;
    }
    .main-left{
      margin-top:133px;
      width:53.3%;
      height:177px;
      float:left;
    }
    .main-left h1{
      display:none;
    }
    .main-left h2{
    font-size:28px;
    font-family:'源ノ角ゴシック';
    color:#4B4B4B;
    font-weight: bold;
    line-height:180%;
    display:block;
    }
    .main-text{
      display:none;
    }
    .main-text-sp{
      margin-top:200px;
      line-height:200%; 
      text-align:center;
      display:block;
      margin-left:auto;
      margin-right:auto;
    }
   .main-text-sp p{
     font-size:20px;
     font-family:'源ノ角ゴシック';
    color:#4B4B4B;
    font-weight: bold;
    letter-spacing: 2px;
   }
   .square1{
    margin-left:120px;
    width:4px;
    height: 4px;
    background-color:#F6404F;
    float:left;
  }
  .square{
    margin-left:17px;
    width:4px;
    height: 4px;
    background-color:#F6404F;
    float:left;
  }
    .main-right{
      display:none;
    }
    .main-right-sp{
      height:312px;
      width:344px;
      top:190px;
      left:33px;
      position: absolute;
      display: block;
      
    }
   .main-button{
     display:none;
   }
   .container {
    display:block;
  }
  .main-visual2{
    height: 1480px;
  }
  .main2-top{
    width:307px;
    height: 60px;
    margin-top:0px;
  }
  .main2-box-img{
  
    margin-top:10px;
   
  }
  .dig{
    height:60px;
  }
  .dig2{
    height:60px;
  }
  .main2-top-text h1{
    width:260px;
    height:60px;
    font-size:20px;
  }
  .main2-box{
    margin-left:auto;
    margin-right:auto;
  }
  .main2-box2{
    margin-left:auto;
    margin-right:auto;
  }
  .main2-box3{
    margin-left:auto;
    margin-right:auto;
  }
  .main-visual3{
    background-image:url(img/sp-wave2.png);
    background-repeat: no-repeat;
    background-position: right 40% top 90%;
    background-size:115% 580px;
    height:600px;
  }
  .main3-top{
    width:310px;
    height:59px;
  }
  .main3-top h1{
    font-size:20px;
  }
  .red-line{
    width:24px;
    margin-top:29px;
  }
  .main3-title1{
    width:290px;
    height:49px;
    margin-right: auto;
    margin-left:auto;
  }
  .main3-title2{
    width:290px;
    height:49px;
    margin-right: auto;
    margin-left:auto;
  }
  .main3-title3{
    width:290px;
    height:49px;
    margin-right: auto;
    margin-left:auto;
  }
  .main3-title-text{
    margin-top:20px;
    width:224px;
    height:48px;
    font-size:16px;
  }
  .angular{
    width:29px;
    height: 74px;
  }
  .triangle1{
    border-left: 14.5px solid transparent;
    border-right: 14.5px solid transparent;
    border-top: 14.5px solid #0D67FF;
  }
  .triangle2{
    border-left: 14.5px solid transparent;
    border-right: 14.5px solid transparent;
    border-top: 14.5px solid #0D67FF;
    margin-top:14px;
  }
  .triangle-sp{
    border-left: 14.5px solid transparent;
    border-right: 14.5px solid transparent;
    border-top: 14.5px solid #0D67FF;
    margin-top: 14px;
    display: block;
  }
  .main4-left{
    float:none;
    width:100%;
    margin-left:auto;
    margin-top:0px;

  }
  .main4-title{
    margin-top:32px;
    width:103px;
    height:20px;
  }
  .main4-title h3{
    font-size:14px;
  }
  .main4-title2 {
    width:280px;
    height: 100px;
    margin:0 auto;
  }
  .main4-title2 h1{
    font-size:28px;
    text-align: center;

  }
  .circle1{
    margin-left:15px;
    width:4px;
    height: 4px;
  }
  .circle{
    margin-left:22px;
    width:4px;
    height: 4px;
  }
  .main4-button{
    display:none;
  }
  .main4-right{
    display:none;
  }
  .tv-img-sp{
    display:block;
    width:300px;
    height: 237px;
    margin-left:auto;
    margin-right:auto;
  }
  .tv-img-sp img{
    width:300px;
    height:237px;
   
  }
  .main4-content{
    width:318px;
    height: 104px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
  }
  .main4-content p{
    font-size:14px;
    line-height: 200%;
  }
  .main-visual5{
    width: 100%;
    height: 1520px;
    overflow: hidden;
    }
 .main5-title{
   margin-top:0px;
   width:240px;
   height:50px;
 }
 .main5-top-text h1{
   width:190px;
   height:59px;
   font-size:20px;
 }
 .main5-container {
  display:block;
 }
 .main5-box{
   margin-right: auto;
   margin-left: auto;
   margin-top:100px;
   width:325px;
    height: 405px;
 }
 .main5-box2{
  margin-right: auto;
  margin-left: auto;
  margin-top:70px;
  width:325px;
    height: 405px;
}
.main5-box3{
  margin-right: auto;
  margin-left: auto;
  margin-top:70px;
  width:325px;
    height: 405px;
}
.main2-box-text{
  line-height: 200%;
}
.main6-title{
  margin-top:80px;
  width:276px;
  height: 59px;
}
.main6-title h1{
  font-size:20px;
}
.main6-container{
  display:block;
  margin-top:32px;
}
.main6-box{
  width:100px;
  height:102px;
  margin-left:auto;
  margin-right: auto;
}
.main6-subtitle{
  font-size:14px;
}
.main6-number{
  width:38px;
  height:90px;
}
.main6-number img{
  width:33px;
  height:81px;
  margin-left:5px;
}
.main6-img img{
  margin-top:15px;
}
.main6-img p{
  font-size:14px;
  margin-top:15px;
}
.main6-box2{
  width:375px;
  height:140px;
  background-image:url(img/bg_people.png);
  background-position: center;
  margin-right:auto;
  margin-left: auto;
  overflow: hidden;
}
.main6-subtitle2{
  width:22.5%;
  height: 20px;
  margin-left:auto;
  margin-right: auto;
  margin-top:20px;
}
.main6-subtitle2 p{
  font-size:14px;
  width:100%;
  height: 100%;

}
.main6-img2{
  background-image: none;
  margin-left:auto;
  margin-right: auto;
  width:131px;
}
.main6-number2 {
  width:99px;
  height:81px;
  margin-left:10px;
  margin-top:10px;
}
.main6-number2 img{
  width:99px;
  height:81px;
}
.yen p{
  font-size:14px;
  margin-top:55px;
}
.main6-subtitle3{
  margin-left:auto;
  margin-right: auto;
  margin-top:20px;
  
}
.main6-subtitle3 p{
  margin-left:110px;
  font-size:14px;
}
.main6-box3{
  width:350px;
  height:102px;
  padding-left:30px;
  margin-left:auto;
  margin-right: auto;
}
.main6-img3{
  width:289px;
  height: 82px;
}

.main6-number3 img{
  width:84px;
  height:81px;

}
.ken{
  margin-top:50px;
  font-size: 14px;
}
.main6-img3 {
  width:230px;
  height: 82px;
  margin-top:0px;
  margin-left:50px;
 
}
.footer-content{
  margin-left:auto;
  margin-right:auto;
  height: 190px;
  width:185px;
}
.footer-content2{
  top:100px;
  left:10px;
}
.company p{
  margin-top:100px;
}
}
@media screen and (max-width:355px) {
   .main6-box2{
     width:100%;
   }
   .main6-subtitle2 p{
    font-size:12px;
    width:100%;
    height: 100%;
  }
 .main6-box3{
   margin-left:0px;
   padding-left:20px;
 }  

}
  /*375*/
  